<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Spark! CRM</title>
        {% load static %}
        <link rel="icon" type="image/ico" href={% static 'crm/img/favicon.ico' %}>
        <link rel="stylesheet" type="text/css" href="{% static 'crm/simpleStyle.css' %}">
    </head>
    <body>
        <a class = "button" href = {%url 'index' %}>К индексу</a>
        <h3>{{client.name}}</h3>
        {%for pay in payments%}
            <p>{{pay.value}}:{{pay.date}}<p>
        {%endfor%}
        {%for g in group%}
            <p>{{g.name}}<p>
        {%endfor%}        

    </body>
</html>