<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Spark! CRM</title>
        {% load static %}
        <link rel="icon" type="image/ico" href={% static 'crm/img/favicon.ico' %}>
        <link rel="stylesheet" type="text/css" href="{% static 'crm/simpleStyle.css' %}">
    </head>
    <body>
        <a class = "button" href = {% url 'index' %}>К индексу</a>
        <h3>{{client.name}}</h3>
        
        <button onclick="document.getElementById('editName').classList.remove('hidden');">Изменить имя</button>
        <div id='editName' class="hidden">
            <form action="{%url 'editName' %}" method="post" class='popup'>
                {% csrf_token %}
                
                <input type = "hidden" name = "client" value = "{{client.pk}}">
                    <label for = "name">Имя</label><input name = "name" type="text">
                <input type="submit" value="Изменить имя">
            </form>
        </div>

        {% for p in phone %}
            <p>{{p.note}} {{p.phone}}</p>
        {% empty %}
            <p>Номер отсутствует</p>
        {% endfor %}

        <button onclick="document.getElementById('addPhone').classList.remove('hidden');">Добавить новый телефон</button>
        <div id='addPhone' class="hidden">
            <form action="{%url 'addPhone' %}" method="post" class='popup'>
                {% csrf_token %}
                
                <input type = "hidden" name = "client" value = "{{client.pk}}">
                <table>
                    <tr><td><label for = "phone">Телефон</label><input name = "phone" type="tel"></td></tr>
                    <tr><td><label for = "note">Заметка</label><input name = "note" type="text"></td></tr>
                </table>
                <input type="submit" value="Добавить телефон">
            </form>
        </div>

        <p>Остаток:{{client.money}}</p>

        {% for g in group %}
            <p>Группа: {{g.name}}<p>
        {% endfor %}  

        <table>
            <tr>
                <th>Дата оплаты</th>
                <th>Сумма</th>
                <th>Заметка</th>
            </tr>
            {% for pay in payments %}
            <tr>
                <td>{{pay.date}}</td>
                <td>{{pay.value}}</td>
                <td>{{pay.note}}</td>
            </tr>
            {%endfor%}
        </table>

        <button onclick="document.getElementById('newPayment').classList.remove('hidden');">Добавить новый платёж</button>
        <div id='newPayment' class="hidden">
            <form action="{%url 'addPayment' %}" method="post" class='popup'>
                {% csrf_token %}
                <input type = "hidden" name = "tag" value = "client">
                <input type = "hidden" name = "client" value = "{{client.pk}}">
                <table>
                        <tr><td><label for = "date">Дата</label><input type = "date" name = "date"></td></tr>
                        <tr><td><label for = "value">Кол-во</label><input name = "value" type="number" step="0.01"></td></tr>
                        <tr><td><label for = "note">Заметка</label><input name = "note" type="text"></td></tr>
                </table>
                <input type="submit" value="Добавить платёж">
            </form>
        </div>

        <table>
            <tr>
                <th>Название</th>
                <th>Дата</th>
                <th>Цена</th>
                
            </tr>
            {% for lesson in lessons %}
            <tr>
                <td>{{lesson.name}}</td>
                <td>{{lesson.date}}</td>
                <td>{{lesson.price}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>