<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <title>Spark! CRM</title>
    {% load static %}
    <link rel="icon" type="image/ico" href={% static 'crm/img/favicon.ico' %}>
    <link rel="stylesheet" type="text/css" href="{% static 'crm/simpleStyle.css' %}">
</head>

<body>
<p>Привет, это индекс! Вы вошли как {{username}}</p><a class = "button" href = "{% url 'logoutView' %}">Выйти</a>
<a class = "button" href = "{%url 'dashboard' %}">Dashboard</a>
<a class = "button" href = "{%url 'CRM_clients' %}">Клиенты</a>
<a class = "button" href = "{%url 'CRM_Lessons' %}">Уроки</a>
<a class = "button" href = "{%url 'CRM_payments' %}">Платежи</a>
<a class = "button" href = "{%url 'CRM_groups' %}">Группы</a>
</body>

</html>