<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <title>Spark! CRM</title>
    {% load static %}
    <link rel="icon" type="image/ico" href={% static 'crm/img/favicon.ico' %}>

    <link rel="stylesheet" type="text/css" href="{% static 'crm/simpleStyle.css' %}">
</head>

<body>
    <a class = "button" href={%url 'index' %}>К индексу</a>
    <a class = "button" href={%url 'refreshClients' %}>Обновить</a>
    <button onclick="document.getElementById('newClient').classList.remove('hidden');">Добавить нового клиента</button>
    <div id='newClient' class="hidden">
        <form action="{%url 'add_client' %}" method="post" class='popup'>
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="name">Имя:</label></td>
                    <td><input type="text" name="name" id="name" value=""></td>
                </tr>
            </table>
            <input type="submit" value="Добавить клиента">
        </form>
    </div>
    <table>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Остаток</th>
        </tr>
        {%for student in data%}
        <tr>
            <td><a class = "clientTag" href = {% url 'client_card' student.id %}>{{student.name}}</a></td>
            <td>{%for phone in student.phone%}
                {{phone.note}}-{{phone.phone}}<br>
                {%endfor%}
            </td>
            <td>{{student.money}}</td>
        </tr>
        {%endfor%}
        </table>
</body>

</html>