<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Spark! CRM</title>
        {% load static %}
        <link rel="icon" type="image/ico" href={% static 'crm/img/favicon.ico' %}>
        <link rel="stylesheet" type="text/css" href="{% static 'crm/simpleStyle.css' %}">
    </head>
    <body>
        <a class = "button" href = {%url 'index'%}>К индексу</a>
        <a class = "button" href = {%url 'addGroup'%}>Новая группа</a>
        <table>
            <tr>
                <th>Имя</th>
                <th>Ученики</th>
                <th>Расписание</th>
                <th>Кнопочки</th>
            </tr>
            {%for group in groups%}
            <tr>
                <td>{{group.name}}<br>{{group.teacher}}</td>
                <td>
                    {%for s in group.clients%}
                        <a class = "clientTag" href = {%url 'index'%}>{{s.name}}<a><br>
                    {%endfor%}
                </td>
                <td>
                    {%for s in group.schedule%}
                        {{s}}<br>
                    {%endfor%}
                </td>
                <td>
                    <a class = "button" href = {%url 'addLessonFromGroup' group.pk%}>Создать урок</a>
                    <a class = "button" href = {%url 'editGroup' group.pk%}>Изменить урок</a>
                </td>
            </tr>            
            {%endfor%}
        </table>

    </body>
</html>