<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Spark! CRM</title>
        {% load static %}
        <link rel="icon" type="image/ico" href={% static 'crm/img/favicon.ico' %}>
    
        <link rel="stylesheet" type="text/css" href="{% static 'crm/simpleStyle.css' %}">
    </head>
    <body>
        <a class = "button" href = {%url 'index' %}>К индексу</a>
        <a class = "button" href = {%url 'addLesson' %}>Создать урок</a>
        
        <form action="{% url 'CRM_Lessons' %}" method="post">
            {% csrf_token %}
            <label for="month">Месяц:</label>
            <input type="month" id="month" name="month"min="2022-05">
            <label for="teacher">Учитель:</label>
            <select id = "teacher" name = "teacher">
                <option selected="selected" value = "-1">Все</option>
                {%for teacher in teachers%}
                    <option value = "{{teacher.pk}}">{{teacher.name}}</option>
                {%endfor%}
            </select>
            <label for="group">Группа:</label>
            <select id = "group" name = "group">
                <option selected="selected" value = "-1">Все</option>
                {%for group in groups%}
                    <option value = "{{group.pk}}">{{group.name}}{%if group.archive%}(архив){%endif%}</option>
                {%endfor%}
            </select>
            <input type="submit" value="Поиск по фильтру">
        </form>
            <table>
            <tr>
                <th>Дата</th>
                <th>Группа</th>
                <th>Учитель</th>
                <th>Цена</th>
                <th>Студенты</th>
                <th>Кнопочки</th>
            </tr>
            {%for lesson in lessons %}
                <tr>
                    <td>{{lesson.date}}</td>
                    <td>{{lesson.name}}</td>
                    <td>{{lesson.teacher.name}}</td>
                    <td>{{lesson.price}}</td>
                    <td>
                        {%for s in lesson.clients.all%}
                        <a class = "clientTag" href = {%url 'client_card' s.pk %}>{{s.name}}</a></br>
                        {%endfor%}
                    </td>
                    <td>
                        <a href="{% url 'editLesson' lesson.pk %}"><button>Редактировать</button></a>
                    </td>
                </tr>
            {%endfor%}
        </table>
        
        
    </body>
</html>