table {
  border-collapse: collapse;
}

table td {
  border: 2px solid black;
}

table th {
  border: 2px solid black;
}

.hidden {
  display: none;
}

.button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  max-height: 50px;
}
p{
  margin: 5px;
}